# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Aug 28, 2022, 6:11 PM
i2np.lastCountry=it
i2np.lastIP=93.48.229.122
i2np.lastIPChange=1661710295640
i2np.ntcp.port=12345
i2np.ntcp2.iv=4WNWJJytWKI3gDKjFgZpsg==
i2np.ntcp2.sp=7eQW9V17t6k7QSJBe1389d1c3Y1mtlurx1J09jxz7yI=
i2np.udp.internalPort=12345
i2np.udp.introKey=-Pyxi92FRf0ZwaDl~PEUQW4775Xp5Q-hFbteTxPPc-s=
i2np.udp.port=12345
jbigi.lastProcessor=Kaby Lake Core i3/i5/i7/64
jbigi.loadedResource=libjbigi-linux-coreibwl_64.so
router.firstInstalled=1661710291151
router.firstVersion=1.9.0
router.inboundPool.randomKey=8733Exagkkq5-0xr5VnLavmS5YoXkMMMoPh0NAKu7-w=
router.outboundPool.randomKey=bgs4zvlCnLL8zlmVpNXYePdHlSxlfKLhG-jdw57diJo=
router.passwordManager.migrated=true
router.previousVersion=1.9.0
router.startup.jetty9.migrated=true
router.updateDisabled=true
router.updateLastInstalled=1661710291151
routerconsole.newsLastUpdated=0
