# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Aug 28, 2022, 6:11 PM
webapps.susimail.startOnLoad=true
webapps.routerconsole.startOnLoad=true
webapps.jsonrpc.startOnLoad=false
webapps.i2psnark.startOnLoad=true
webapps.imagegen.startOnLoad=true
webapps.susidns.startOnLoad=true
webapps.i2ptunnel.startOnLoad=true
